
</a>
<br>
<a href="/threads">
<button style="background-color: rgb(34, 201, 70); padding: 3px 8px;position: absolute;
right:20px;top:120px;font-weight: 700;">
    All Threads
</button>
</a><br><br>
<br>