    
<style>
    body{
        padding: 0;
        margin: 0;
    }
    nav{
        height: 60px;
        background-color: #39424e;
    }
    nav i{
        font-size: 40px;
        margin: 10px 0 0 200px;
        cursor: pointer;
    }
    nav a{
        position: relative;
        bottom: 8px;
        text-decoration: none;
        font-size: 17px;
        color: black;
    }
    nav a:hover{
        text-decoration: none;
        color:black
    }
    nav button{
        cursor: pointer;
        padding: 4px 10px;
        background-color:rgb(34, 201, 70);
        font-size: 14px;
        font-weight: 700;
        color:white;
    }
    nav #forums{
        margin-left: 100px;
        margin-right: 140px;
        font-weight: 700;
        color:white;
    }
    nav #signup{
        margin-left: 500px;
    }
    nav #login{
        margin-left: 40px;
    }
    nav #create{
      margin-left: 20px;
    }

    
</style>
<nav>
    
   <i class="fa fa-comments-o" style="color:rgb(34, 201, 70)"aria-hidden="true"></i>
    <a id="forums" href="/forums">Forums</a>
    
    <a id="signup" href="/signup"><button>SignUp</button></a>
    <a id="login" href="/login"><button>LogIn</button></a>
</nav>