
{{#if loggedIn}}
{{>nav2}}
{{else}}
{{>nav1}}
{{/if}}

<style>
     
       .forum{
           margin-left: 470px;
           margin-top: 280px;
           font-size:25px;
           letter-spacing: 2px;
           font-weight: 700;
           text-decoration: none;
           color:black
       }

        
    </style>
<div class="container">
    <div class="row"><div class="col">
        <a href="/forums">
    <h1 class="forum">Welcome to Forum</h1>
    </a>
    </div></div>
</div>
    
    